.modal__content_type_image {
  padding: 0px !important;
  overflow: hidden;
}
/* Fix this ^ */

.modal_image {
  width: 498px;
  height: 498px;
}

.modal__footer {
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 32px 32px 32px;
  box-sizing: border-box;
}

.modal__caption {
  margin: 0 0 12px;
}

.modal__weather {
  margin: 0;
}

.modal__Delete-btn {
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #ff4d00;
  position: absolute;
  right: 32px;
  bottom: 68px;
}
