.sidebar {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 229px;
}

.sidebar__header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar__body {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: baseline;
  padding: 0px;
}
