.modal__content {
  display: flex;
  flex-direction: column;
}

.modal__title-register {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__button-container {
  display: flex;
  gap: 12px;
}
